{% extends 'base.html' %}
{% block title %}
    market page
{% endblock %}


{% block content %}

    <div class="row" style="margin-top:20px; margin_left:20px;">
        <div class="col-8" >
            <h2>Available Items on the market</h2>
            <p>Click on any Item to start buying</p>
            <br>
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <!-- Your Columns HERE -->
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Barcode</th>
                        <th scope="col">Prices</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Your rows inside the table HERE: -->
                    {% for item in items %}
                    {% include 'includes/items_modals.html' %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.barcode }}</td>
                            <td>Ksh {{ item.price }}</td>
                            <td>
                                <button class="btn btn-outline btn-info"data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
                                <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{ item.id }}">Purchase This Item</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4" >
            <h2>Owned Market</h2>
            <p>Click on any Item to put an item on the market</p>
        </div>
    </div>
{% endblock %}